<h1>99 Cats</h1>

<table>
  <thead>
    <tr><%=@cat.name%></tr>
  </thead>
  <tbody>
    <tr>
      <td>Gender:</td> 
      <td><%=@cat.sex%></td>
    </tr>
    <tr>
      <td>Color:</td> 
      <td><%=@cat.color%></td>
    </tr>
    <tr>
      <td>Age:</td>
      <td><%=@cat.age%></li></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><%=@cat.description%></td>
    </tr>
  </tbody>
</table>